# Backend Server Configuration
PORT=5000
NODE_ENV=development
DATABASE_URL="file:./dev.db"

# Redis Queue Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Queue Worker Concurrency & ESP Throttling
WORKER_CONCURRENCY=5
MIN_EMAIL_DELAY_MS=2000
DEFAULT_HOURLY_LIMIT=200

# Elasticsearch Search Engine
ELASTICSEARCH_NODE=http://localhost:9200

# Security
JWT_SECRET=super_secret_reachinbox_key_2026
FRONTEND_URL=http://localhost:3000

# OAuth & Live Mailers (Optional - Ethereal Fake SMTP auto-generates if omitted)
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password
BREVO_SMTP_HOST=smtp-relay.brevo.com
BREVO_SMTP_PORT=587
BREVO_SMTP_USER=your_brevo_user
BREVO_SMTP_KEY=your_brevo_api_key
